:root {
    --project-color: rgb(196, 233, 117);
    --research-color: rgb(91, 204, 239);
    --forfun-color: rgb(249, 202, 247);
    --seungyun-color: rgb(210, 199, 39);
}
@font-face {
    font-family: tangoBold;
    src: url(fonts/TangoSans_Bold.ttf);
}
@font-face {
    font-family: kodak;
    src: url(fonts/kodakku.ttf);
}
@font-face {
    font-family: couture;
    src: url(fonts/couture-bld.otf);
}
@font-face {
    font-family: vogue;
    src: url(fonts/Vogue.ttf);
}
@font-face {
    font-family: cool;
    src: url(fonts/coolvetica\ rg.otf);
}
@font-face {
    font-family: bebas;
    src: url(fonts/BebasNeue-Regular.otf);
}
@font-face {
    font-family: montLight;
    src: url(fonts/Mont-ExtraLightDEMO.otf);
}
@font-face {
font-family: montHeavy;
    src: url(fonts/Mont-HeavyDEMO.otf);
}
@font-face {
    font-family: boldFont;
    src: url(fonts/THEBOLDFONT\ 2022.otf);
}
@font-face {
    font-family: lemonBold;
    src: url(fonts/LEMONMILK-Bold.otf);
}
@font-face {
    font-family: lemonRegular;
    src: url(fonts/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: lemonLight;
    src: url(fonts/LEMONMILK-Light.otf);
}












/*Main Page title of the website--------------------------------------*/
.seungyun {
    font-family: Helvetica;
    font-size: 2.275rem;
    color: black;
}

.seungyun.projects {
    color: var(--project-color);
}
.seungyun.research {
    color: var(--research-color);
}
.seungyun.forfun {
    color: var(--forfun-color);
}

/* text css above hero image*/
.hero_title {
    font-size: 1.5rem;
    font-family: 'Helvetica';
    font-weight: 100;
    text-align: center;
}

.emoji {
    border-bottom: 2px solid rgb(210, 199, 39);
    color: rgb(210, 199, 39);
    text-shadow: 3px 3px 3px gray;
}
.emoji:hover {
    border: none;
    text-shadow: 3px 3px 3px lightgray;
}

.intro-text {
    text-justify: auto;
    font-family: sans-serif;
    font-size: 0.75rem;
    color: rgb(63, 63, 63);
}



























/* nav bar -----------------------------------------------------------*/
.navbar.fixed-top {
    position: fixed;
    transition: top 0.3s;
}


.nav-shape .nav-text {
    font-family: Avenir, "Helvetica Neue", Avenir;
    font-size: 1.20rem;
    text-align: center;
    color: rgb(57, 57, 57);
    
}
/*
.projects-page  .nav-text {
    color: var(--project-color);
}
.research-page .nav-text {
    color: var(--research-color);
}
.forfun-page .nav-text {
    color: var(--forfun-color);
}
*/


.nav-link:hover .nav-shape {
    font-style: oblique;
}
.nav-shape.projects.colored .nav-text{
    font-style:  oblique;
    /*text-shadow: 1px 1px 1px gray;*/
    border-bottom: 0.2rem solid black;
}
.nav-shape.research.colored .nav-text{
    font-style:  oblique;
    /*text-shadow: 1px 1px 1px gray;*/
    border-bottom: 0.2rem solid black;
}
.nav-shape.forfun.colored  .nav-text{
    font-style:  oblique;
    /*text-shadow: 1px 1px 1px gray;*/
    border-bottom: 0.2rem solid black;
}

.menu-button-text {
    color: var(--seungyun-color);
}
.menu-button {
    color: transparent;
}












/* sidebar -------------------------------------------*/


.arrow {
    font-family: system-ui;
    font-weight: 100;
    font-size: 3rem;
}

.arrow:hover {
    text-shadow: 3px 2px 2px gray;
}

.side-title {
    transform-origin: 0 0;
    transform: rotate(-90deg);
    position: fixed;
    left: 2%;
    font-family: montLight, Avenir, 'Helvetica Neue', sans-serif;
    font-weight: 100;
    /* border: 4px solid black; */
}

.side-title.projects {
    top: 93%;
    font-size: 4rem;
    /*z-index: 1;*/
    overflow-x: hidden;
    /*font-weight: 100;*/
    letter-spacing: 10px;
    /* background-color:var(--project-color); */
    padding: 0.5rem;
}


.side-title.research {
    top: 98%;
    left: 2%;
    font-size: 3rem;
    /*z-index: 1;*/
    overflow-x: hidden;
    /*font-weight: 100;*/
    letter-spacing: 4px;
    /* background-color: var(--research-color); */
    padding: 1.25rem;
}

.side-title.forfun{
    top: 78%;
    left: 2%;
    font-size: 4rem;
    /*z-index: 1;*/
    overflow-x: hidden;
    /*font-weight: 100;*/
    letter-spacing: 13px;
    /* background-color: var(--forfun-color); */
    padding: 0.5rem;
}

@media all and (max-width: 1000px) {
    #sidebar .title {
        display: none;
    }
    #sidebar .sidenav-right {
        display: none;
    }
    #sidebar .sidenav-left {
        display: none;
    }
  }

.sidenav-left {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 2%;
    overflow-x: hidden;
}

.sidenav-right {
    position: fixed;
    top: 50%;
    right: 5%;
    overflow-x: hidden;
}

.side-title.projects{
    color: black;
    font-weight:200;
}

























/*detail pages*/
.item-summary {
    font-size: 1.25rem;
    font-family: 'Helvetica Neue';
    font-weight: 100;
}
.item {
    border: 4px solid black;
    background: transparent;
    margin: 0.5rem;
}
.title .cg {
    font-family: lemonRegular;
}
.title .Tutu {
    text-transform: uppercase;
    font-family: montHeavy;
}
.title .color {
    font-family: cool;
}
.title .VR {
    font-family: bebas;
}
.title .midlife {
    font-family: boldFont;
}
.title .urp{
    font-family: couture;
}
.title .film{
    font-family: kodak;
}
.title .poster{
    font-family: tangoBold;
}
.title .library {
    font-family: vogue;
    font-weight: bold;
}
.thumbnail {
    max-width: 800px;
    /*height: 100%; */
}

#projects, #research, #forfun {
    margin-top: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
}





/* projects page -------------------------------------------------------*/
.project-item:hover {
    text-shadow: 3px 2px 2px gray;
    box-shadow: 3px 2px 2px gray;
    background-color: var(--project-color);
}

.project-title {
    font-size: 2rem;
}
.project-item.empty {
    background-color: var(--project-color);
}


/* research page -------------------------------------------------------*/
.research-item:hover {
    text-shadow: 3px 2px 2px gray;
    box-shadow: 3px 2px 2px gray;
    background-color: var(--research-color);
}
.research-title {
    font-size: 2rem;
}
.research-item.empty {
    background-color: var(--research-color);
}


/* forfun page -------------------------------------------------------*/
.forfun-item:hover {
    text-shadow: 3px 2px 2px gray;
    box-shadow: 3px 2px 2px gray;
    background-color: var(--forfun-color);
}
.forfun-item.empty {
    text-shadow: 3px 2px 2px gray;
    box-shadow: 3px 2px 2px gray;
    background-color: var(--forfun-color);
}
.forfun-title {
    font-size: 2rem;
}























/* research-earthquake detail page ----------------------------------------------*/
.research-earthquake {
    background-color: var(--research-color);
}
.research-earthquake .seungyun{
    color: var(--seungyun-color);
    text-shadow: 1px 1px 1px black;
}
.research-earthquake .nav-text{
    color: var(--seungyun-color);
    text-shadow: 1px 1px 1px black;
}

#earthquake {
    margin-top: 300px;
}
#earthquake .body {
    text-align: justify;
}
#earthquake .body-white {
    background: white;
}


#earthquake, #midlife, #library, #poster, #tutu,
#cg .body-text {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: lighter;
}


.research-earthquake .img-me {
    position: absolute;
    top: 40px;
    left: 0;
    margin-left: 15%;
    width: 100px;
}

.img-vr {
    position: absolute;
    top: 160px;
    left:0;
    margin-left: 55%;
    width: 200px;
}

.img-vr-cover {
    filter: drop-shadow(6px 3px 3px black);
    min-width: 100px;
    width: 300px;
    height: 300px;
}

.footnote {
    padding-top: 100px;
    text-align: center;
    font-family: "Times new roman";
    font-weight: 300;
}

.gif-vr {
    width: 400px;
}

.unity_streetlight {
    min-width: 50px;
    max-width: 550px;
}
.servicesText.card {
    height: 355px;
    cursor: pointer;
}
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}
.card:hover .servicesIcon {
    color: rgb(184, 254, 183);
}
.card:hover .card-title {
    color: rgb(184, 254, 183);
}


.servicesText:hover {
    border: 2px solid rgb(184, 254, 183);
}
















/* forfun page ------------------------------------------------*/

.servicesText.card.forfun {
    max-height: 450px;
    height: 100%;
    cursor: pointer;
}
.card-title.forfun {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

.miniItem:hover {
    width: 300px;
    cursor: pointer;
}


/*forfun-film------------------------------------------------------------------------*/

#film .title {
    font-family: kodak;
    font-size: 2.45rem;
}


























.fab {
    color: #000000;
}
/* footer styling */
#footer {
    text-align: center;
}


/* spacing on all sections */
#forfun, #projects, #research, #contact, #urp, #midlife, 
#film, #home, #color, #poster, #bottom, #library,
#tutu, #cg {
    margin-top: 4rem;
    padding-top: 4rem;
}

#About {
    margin-top: 30%;;
}

#urp .body {
    font-family: 'Monaco', 'Lucida Console', 'Courier New', monospace;

}
#contact {
    padding-bottom: 4rem;
}