:root {
    --project-color: rgb(155, 181, 84);
    --research-color: rgb(110, 182, 189);
    --forfun-color: rgb(233, 155, 211);
}
@font-face {
    font-family: couture;
    src: url(fonts/couture-bld.otf);
}
@font-face {
    font-family: vogue;
    src: url(fonts/Vogue.ttf);
}
@font-face {
    font-family: cool;
    src: url(fonts/coolvetica\ rg.otf);
}
@font-face {
    font-family: bebas;
    src: url(fonts/BebasNeue-Regular.otf);
}
@font-face {
    font-family: montLight;
    src: url(fonts/Mont-ExtraLightDEMO.otf);
}
@font-face {
font-family: montHeavy;
    src: url(fonts/Mont-HeavyDEMO.otf);
}
@font-face {
    font-family: boldFont;
    src: url(fonts/THEBOLDFONT\ 2022.otf);
}
@font-face {
    font-family: lemonBold;
    src: url(fonts/LEMONMILK-Bold.otf);
}
@font-face {
    font-family: lemonRegular;
    src: url(fonts/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: lemonLight;
    src: url(fonts/LEMONMILK-Light.otf);
}


/*Seungyun - title of the website*/
.seungyun {
    font-family: Arial;
    font-weight: 200;
    font-size: 3.75rem;
    color: rgb(210, 199, 39);
}

.seungyun.projects {
    color: var(--project-color);
}
.seungyun.research {
    color: var(--research-color);
}
.seungyun.forfun {
    color: var(--forfun-color);
}

.seungyun:hover {
    font-weight: 200;
}

.home {
    background: white;
}


/* text css above hero image*/
.hero_title {
    font-size: 1.5rem;
    font-family: 'Helvetica';
    font-weight: 100;
    text-align: center;
}

.emoji {
    border-bottom: 2px solid rgb(210, 199, 39);
    color: rgb(210, 199, 39);
    text-shadow: 3px 3px 3px lightgray;
}
.emoji:hover {
    text-shadow: none;
    border: none;
}

.intro-3 {
    text-justify: auto;
    font-family: Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    color: rgb(100, 100, 100);
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}







/* nav bar -----------------------------------------------------------*/

.nav-link .nav-shape {
    color: black;
    
}
.nav-shape .nav-text {
    font-family: Avenir, 'Times New Roman', 'Helvetica Neue';
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    
}
.nav-link:hover .nav-shape {
    text-shadow: 2px 1px 1px lightgray;
}
.nav-shape.projects.colored {
    font-style:  oblique;
    /*text-shadow: 1px 1px 1px gray;*/
    border-bottom: 0.2rem solid var(--project-color);
}
.nav-shape.research.colored {
    font-style:  oblique;
    /*text-shadow: 1px 1px 1px gray;*/
    border-bottom: 0.2rem solid var(--research-color);
}
.nav-shape.forfun.colored {
    font-style:  oblique;
    /*text-shadow: 1px 1px 1px gray;*/
    border-bottom: 0.2rem solid var(--forfun-color);
}













/* sidebar -------------------------------------------*/


.arrow {
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
}

.arrow:hover {
    text-shadow: 3px 2px 2px gray;
}

.side-title {
    transform-origin: 0 0;
    transform: rotate(-90deg);
    position: fixed;
    left: 2%;
    font-family: montLight, Avenir, 'Helvetica Neue', sans-serif;
    font-weight: 100;
    /* border: 4px solid black; */
}

.side-title.projects {
    top: 93%;
    font-size: 4rem;
    /*z-index: 1;*/
    overflow-x: hidden;
    /*font-weight: 100;*/
    letter-spacing: 10px;
    /* background-color:var(--project-color); */
    padding: 0.5rem;
}


.side-title.research {
    top: 98%;
    left: 2%;
    font-size: 3rem;
    /*z-index: 1;*/
    overflow-x: hidden;
    /*font-weight: 100;*/
    letter-spacing: 4px;
    /* background-color: var(--research-color); */
    padding: 1.25rem;
}

.side-title.forfun{
    top: 78%;
    left: 2%;
    font-size: 4rem;
    /*z-index: 1;*/
    overflow-x: hidden;
    /*font-weight: 100;*/
    letter-spacing: 13px;
    /* background-color: var(--forfun-color); */
    padding: 0.5rem;
}

@media all and (max-width: 1000px) {
    #sidebar .title {
        display: none;
    }
    #sidebar .sidenav-right {
        display: none;
    }
  }

.sidenav-left {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 2%;
    overflow-x: hidden;
}

.sidenav-right {
    position: fixed;
    top: 50%;
    right: 5%;
    overflow-x: hidden;
}

.side-title.projects{
    color: black;
    font-weight:200;
}

























/*detail pages*/
.item-summary {
    font-size: 1.25rem;
    font-family: 'Helvetica Neue';
    font-weight: 100;
}
.item {
    border: 4px solid black;
    background: transparent;
    margin: 0.5rem;
}
.title .cg {
    font-family: lemonRegular;
}
.title .Tutu {
    text-transform: uppercase;
    font-family: montHeavy;
}
.title .color {
    font-family: cool;
}
.title .VR {
    font-family: bebas;
}
.title .midlife {
    font-family: boldFont;
}
.title .urp{
    font-family: couture;
}
.thumbnail {
    width: 100%;
    max-width: 800px;
    /*height: 100%; */
}

#projects, #research, #forfun {
    margin-top: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
}



/* projects page -------------------------------------------------------*/

.project-item:hover {
    text-shadow: 3px 2px 2px gray;
    box-shadow: 3px 2px 2px gray;
    background-color: rgb(155, 181, 84);
}

.project-title {
    font-size: 2rem;
}


/* research page -------------------------------------------------------*/
.research-item:hover {
    text-shadow: 3px 2px 2px gray;
    box-shadow: 3px 2px 2px gray;
    background-color: var(--research-color);
}
.research-title {
    font-size: 2rem;
}


/* forfun page -------------------------------------------------------*/
.forfun-item:hover {
    text-shadow: 3px 2px 2px gray;
    box-shadow: 3px 2px 2px gray;
    background-color: var(--forfun-color);
}
.forfun-title {
    font-size: 2rem;
}



/* research detail page */

.motivation {
    background-color:rgb(255, 251, 185);
    text-align:center;
}

.process {
    background-color:rgb(255, 227, 186);
    text-align: center;
}

.result {
    background-color:rgb(249, 207, 207);
    text-align: center;
}

.servicesText.card {
    height: 355px;
    cursor: pointer;
}
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.img-vr{
    width: 300px;
    height: 300px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}
.card:hover .servicesIcon {
    color: rgb(184, 254, 183);
}
.card:hover .card-title {
    color: rgb(184, 254, 183);
}


.servicesText:hover {
    border: 2px solid rgb(184, 254, 183);
}
















/* forfun detail page ------------------------------------------------*/

.servicesText.card.forfun {
    max-height: 450px;
    height: 100%;
    cursor: pointer;
}
.card-title.forfun {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

.miniItem:hover {
    width: 300px;
    cursor: pointer;
}


/*------------------------------------------------------------------------*/


























.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}


/* spacing on all sections */
#forfun, #earthquake, #projects, #research, #contact, #urp, #midlife, 
#film, #About, #home, #color, #poster {
    margin-top: 5rem;
    padding-top: 5rem;
}

#earthquake .body {
    font-family: 'Monaco', 'Lucida Console', 'Courier New', monospace;
}
#urp .body {
    font-family: 'Monaco', 'Lucida Console', 'Courier New', monospace;

}
#contact {
    padding-bottom: 4rem;
}